html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.arena-wrapper {
  width: 100%;
  height: 250px;
  position: relative;
  margin-bottom: 25px;
  border-bottom: 1px solid #949484;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.arena-wrapper .spacer {
  flex-basis: 30%;
}
.arena-wrapper .arena {
  position: relative;
  padding: 25px;
  height: 250px;
  display: flex;
  align-items: center;
}
.arena-wrapper .arena .arrow {
  position: absolute;
}
.arena-wrapper .arena .target {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.arena-wrapper .arena .target .outer-ring {
  height: 48px;
  width: 48px;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.arena-wrapper .arena .target .inner-ring {
  height: 32px;
  width: 32px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.arena-wrapper .arena .target .bullseye {
  height: 16px;
  width: 16px;
  background-color: red;
}
.arena-wrapper .arena .target .ring {
  border-radius: 50%;
}
.arena-wrapper .arena .past-shot-indicator {
  position: absolute;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arena-wrapper .arena .past-shot-indicator .past-shot-indicator-counter {
  margin-bottom: 15px;
}

.launcher-button {
  padding: 2%;
  background-color: #1b1b1b;
  border-radius: 10px;
  color: orange;
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scorecard {
  display: flex;
  flex-direction: column;
  border: 1px solid #949484;
  width: 25%;
  min-width: 340px;
  padding: 2%;
  background-color: #1b1b1b;
  border-radius: 10px;
  color: #d1a552;
}
.scorecard .scorecard-ticker {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
  color: orange;
}
.scorecard .scorecard-body {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.scorecard .scorecard-body .scorecard-numbers, .scorecard .scorecard-body .scorecard-past-shots {
  flex-basis: 50%;
  text-align: center;
}
.scorecard .scorecard-body .scorecard-past-shots ul {
  overflow-y: scroll;
  scroll-behavior: auto;
  max-height: 100px;
}
.scorecard .scorecard-body .scorecard-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.scorecard .scorecard-body .scorecard-numbers .scorecard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 45%;
}
.scorecard .scorecard-body .scorecard-numbers .scorecard-item .scorecard-item-contents-container {
  margin-top: 4px;
  background-color: black;
  color: orange;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

html {
  background-color: #95b388;
}

.game-title {
  text-align: center;
}

.arrow {
  transform: rotate(90deg);
  font-size: 50px;
}

#hit {
  transition: transform 200ms;
  transform: scale(1.5);
}

.viewport {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}

.app {
  height: 100vh;
}

/*# sourceMappingURL=index.css.map */
